<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solar System</title>
  </head>
  <body>
    <h1>Solar System</h1>
    <ul>
    <% planets.forEach(planet => { %>
      <li><%= planet.name %></li> <br>
    <% }); %>
  </ul>

</body>
<a href="/">Home</a>
<a href="/planets/new">Add A New Planet</a>


</html>
